{% extends 'base.html' %}


{% block content %}
    
    <h2>{{ post.title }}</h2>
    
    <strong>Published on: </strong>{{ post.date_pub }}<br>
    <strong>Status:</strong> {{ post.get_status }}<br>
    <div>
        <ul>
            <a href="{% url 'post_edit' post.pk %}"><li>Edit</li></a>
        {% if post.status == post.STATUS_DRAFT %}
            <a href="{% url 'post_manage_action' post.pk 'publish' %}"><li>Publish</li></a>
        {% endif %}
        {% if post.status == post.STATUS_PUBLISHED %}
            <a href="{% url 'post_manage_action' post.pk 'archivate' %}"><li>Archivate</li></a>
        {% endif %}
        {% if post.status == post.STATUS_ARCHIVED %}
            <a href="{% url 'post_manage_action' post.pk 'republish' %}"><li>Republish</li></a>
        {% endif %}
            <a href="{% url 'post_manage_action' post.pk 'delete' %}"><li>Delete</li></a>
        </ul>
    </div>
    <div>
        {{ post.text|linebreaks|truncatechars_html:200 }}
    </div>
    
    
        
{% endblock content %}
    